@font-face {
    font-family: Lato Regular;
    src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: Lato Medium;
    src: url(../fonts/Lato-Medium.ttf);
}
@font-face {
    font-family: Lato SemiBold;
    src: url(../fonts/Lato-SemiBold.ttf);
}
html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
}
:root {
    --accent-color: #01996D;
    --text-color: #424242;
}
.btn {
    border-radius: 4px;
    border: 1px solid var(--accent-color);
    background: var(--accent-color);
    color: white;
    padding: 20px 50px;
    font-size: 20px;
    font-family: 'Lato Regular', sans-serif;
    line-height: 25px;
    white-space: nowrap;
}
.container {
    width: 100%;
    max-width: 1370px;
    margin: 0 auto;
}
.navbar {
   border: #D6D6D6 1px solid;
}
.navbar__flex {
    display: flex;
    align-items: center;
    min-height: 85px;
}
.navbar_logo {
    width: 79.565px;
    height: 23.04px;
    margin-right: 172px;
}
.navbar__flex-menu {
    display: flex;
    list-style: none;
    font-size: 20px;
    font-family: 'Lato Medium', sans-serif;
    gap: 72px;
    margin: 0 277px 0 0;
    padding: 0;
    white-space: nowrap;
}
.navbar__flex-menu a {
    text-decoration: none;
    color: #292929;
}
.navbar__flex-menu li:hover {
    opacity: 0.5;
}
.navbar__flex-button {
    display: flex;
}
.btn_sign-in {
    color: #000;
    font-size: 20px;
    font-family: 'Lato Regular', sans-serif;
    background-color: white;
    border: none;
    margin-right: 29px;
    white-space: nowrap;
}
.btn_trial {
    padding: 13px 50px;
}
.header {
    min-height: 895px;
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header_h1 {
    color: var(--accent-color);
    font-size: 65px;
    font-family: 'Georgia', serif;
    font-weight: 700;
    max-width: 440px;
    margin: 0 0 26px 0;
    padding-top: 175px;
}
.header_p {
    color: #484848;
    font-size: 20px;
    font-family: 'Lato Regular', sans-serif;
    line-height: 157%;
    max-width: 420px;
    margin: 0 0 48px 0;
}
.steps_inner {
    padding: 167px 232px 51px 275px;
}
.steps_top-p {
    color: var(--text-color);
    font-size: 24px;
    font-family: 'Lato SemiBold', sans-serif;
    line-height: 157%;
    margin: 0;
}
.steps__flex_text {
    display: flex;
    margin-bottom: 52px;
}
.steps_h2 {
    color: var(--accent-color);
    font-size: 50px;
    font-family: 'Georgia', serif;
    font-weight: 700;
    line-height: 157%;
    width: 584px;
    margin: 0 136px 0 0;
}
.steps_p {
    color: var(--text-color);
    font-size: 20px;
    font-family: 'Lato Medium', sans-serif;
    line-height: 150%;
    width: 671px;
    margin: 20px 0 0 0;
}
.steps__flex_content {
    display: flex;
}
.steps__flex_content-items:nth-child(1) {
    max-width: 390px;
    margin-right: 95px;
}
.steps__flex_content-items:nth-child(2) {
    max-width: 394px;
    padding-top: 286px;
    margin-right: 93px;
}
.steps__flex_content-items:nth-child(3) {
    max-width: 440px;
    margin-right: 0;
    padding-top: 53px;
}
.steps_number {
    color: rgba(1, 153, 109, 0.20);
    font-size: 150px;
    font-family: 'Georgia', serif;
    font-weight: 400;
    line-height: 150%;
    position: relative;
    width: 176px;
    height: 225px;
    margin-bottom: 9px;
}
.steps__flex_content-items:nth-child(3) .steps_number {
    padding-left: 5px;
    margin-bottom: 0;
}
.steps_h3 {
    color: #000;
    font-size: 30px;
    font-family: 'Georgia', serif;
    font-weight: 700;
    line-height: 150%;
    margin: 0;
    white-space: nowrap;
    position: absolute;
    content: '';
    top: 135px;
    left: 88px;
}
.steps__flex_content-items:nth-child(2) .steps_h3 {
    top: 135px;
    left: 80px;
}
.steps__flex_content-items:nth-child(3) .steps_h3 {
    top: 134px;
    left: 131px;
}
.steps_content_p {
    color: var(--text-color);
    font-size: 20px;
    font-family: 'Lato Medium', sans-serif;
    line-height: 150%;
    margin: 0 0 60px 0;
}
.steps__flex_content-items:nth-child(2) .steps_content_p {
    margin-bottom: 37px;
}
.steps__flex_content-items:nth-child(3) .steps_content_p {
    margin-bottom: 50px;
}
.steps_img {
    max-width: 390px;
    max-height: 492px;
    border-radius: 12px;
}
.steps__flex_content-items:nth-child(3) .steps_img {
    margin-left: 5px;
}
.img-position-rel {
    position: relative;
    z-index: 1;
}
.img-position-abs {
    position: absolute;
    z-index: 2;
    top: 226px;
    right: 0;
}
.video {
    padding: 229px 0 177px 0;
    background-color: #245852;
}
.video__flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.video__flex-text {
    margin-right: 32px;
}
.video_h2 {
    color: #FFF;
    font-size: 50px;
    font-family: 'Georgia', serif;
    font-weight: 700;
    line-height: 160%;
    max-width: 580px;
    margin: 0 0 33px 0;
}
.video_p {
    color: #FFF;
    font-size: 25px;
    font-family: 'Lato SemiBold', sans-serif;
    line-height: 157%;
    margin: 0 0 57px 0;
}
.video-size {
    width: 896px;
    height: 516px;
}
.video_poster {
    position: relative;
    z-index: 1;
}
.gradient {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 16.333px;
    position: absolute;
    height: 99.14%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.video-icon {
    position: absolute;
    z-index: 3;
    top: 219px;
    right: 406px;
}
.video-icon:hover {
    cursor: pointer;
}
.product {
    padding: 120px 0 240px 0;
}
.product__flex {
    display: flex;
    padding-left: 57px;
}
.product__flex_card {
    width: 638px;
    height: 573px;
    margin-right: 90px;
    background-image: url(../img/product-photo.png);
    background-color: rgba(1, 153, 109, 0.20);
    border-radius: 18px;
    background-repeat: no-repeat;
    background-position: 97px;
    position: relative;
    z-index: 2;
}
.product-photo-into {
    width: 296px;
    height: 294px;
    border-radius: 4px;
    background-color: #FFF;
    padding: 23px 0 30px 0;
    position: absolute;
    top: 354px;
    right: 403px;
    z-index: 3;
}
.product_h5 {
    color: #000;
    text-align: center;
    font-size: 14.49px;
    font-family: 'Lato SemiBold', sans-serif;
    line-height: 157%;
    margin: 0 0 5px 0;
}
.product-line {
    width: 110.486px;
    height: 0.746px;
    background-color: #000;
    margin: 0 auto;
    margin-bottom: 12px;
}
.product-photo-sm {
    border: #FFF solid 1px;
    background-color: rgba(1, 153, 109, 0.20);
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.product_manager_name {
    color: #000;
    text-align: center;
    font-size: 11.935px;
    font-family: 'Lato Regular', sans-serif;
    line-height: 157%;
    margin: 0 0 20px 0;
}
.product_h6 {
    color: #000;
    font-size: 15.929px;
    font-family: 'Georgia', serif;
    font-weight: 700;
    line-height: 157%;
    padding-left: 64px;
    margin: 0 0 17px 0;
}
.product_contents {
    color: #000;
    padding-left: 60px;
    font-size: 10.619px;
    font-family: 'Lato Regular', sans-serif;
    line-height: 157%;
    list-style: none;
    margin: 0;
}
.product_contents li {
    margin-bottom: 16px;
}
.product_contents li:last-child {
    margin-bottom: 0;
}
.product_text_h4 {
    color: var(--text-color);
    font-size: 25px;
    font-family: 'Lato SemiBold', sans-serif;
    line-height: 157%;
    margin: 0 0 7px 0;
}
.product_text_h2 {
    color: var(--accent-color);
    font-size: 50px;
    font-family: 'Georgia', serif;
    font-weight: 700;
    line-height: 157%;
    max-width: 584px;
    margin: 0 0 20px 0;
}
.product_text_p {
    color: #484848;
    font-size: 20px;
    font-family: 'Lato Regular', sans-serif;
    line-height: 157%;
    max-width: 530px;
    margin: 0 0 26px 0;
}
.footer {
    padding: 105px 0 144px 0;
    background-color: #245852;
}
.footer_logo {
    margin-bottom: 77px;
}
.footer_menu {
    padding: 0;
    font-size: 25px;
    font-family: 'Lato SemiBold', sans-serif;
    list-style: none;
}
.footer_menu a {
    text-decoration: none;
    color: #FFF;
}
.footer_menu li {
    margin-bottom: 60px;
}
.footer_menu li:last-child {
    margin-bottom: 0;
}
@media screen and (max-width: 1919px) {
    .header {
        background-position: center;
    }
    .steps_inner {
        padding: 167px 150px 51px 110px;
    }
    .steps_h2 {
        max-width: 584px;
    }
    .steps_p {
        max-width: 671px;
    }
    .steps__flex_content {
        justify-content: space-between;
    }
    .steps__flex_content-items {
        margin-right: 60px;
    }
    .steps_number {
        max-width: 176px;
        max-height: 225px;
    }
}
@media screen and (max-width: 1600px) {
    .navbar__flex {
        justify-content: space-between;
    }
    .navbar_logo {
        margin-right: 130px;
    }
    .navbar__flex-menu {
        gap: 50px;
        margin: 0 150px 0 0;
    }
    .header_h1 {
        padding-left: 30px;
    }
    .header_p {
        padding-left: 30px;
    }
    .header_btn {
        margin-left: 30px;
    }
    .video {
        padding-top: 100px;
    }
    .video__flex {
        flex-direction: column;
    }
    .video__flex-text {
        margin: 0 0 50px 0;
    }
    .product__flex {
        padding-left: 75px;
    }
    .footer_logo {
        padding-left: 30px;
    }
    .footer_menu {
        padding-left: 30px;
    }
}
@media screen and (max-width: 1500px) {
    .navbar__flex {
        flex-wrap: wrap;
        padding: 0 30px 0 30px;
    }
    .steps__flex_content {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .steps__flex_content-items {
        margin-right: 0;
    }
    .steps__flex_content-items:nth-child(1) {
        margin-left: 30px;
    }
    .steps__flex_content-items:nth-child(2) {
        padding: 0;
        margin-left: 230px;
        max-width: 390px;
    }
    .steps__flex_content-items:nth-child(3) {
        padding: 0;
        margin-left: 430px;
        max-width: 390px;
    }
    .product__flex {
        padding: 0;
        flex-direction: column;
        align-items: center;
    }
    .product__flex_card {
        margin: 0 0 100px 0;
    }
}
@media screen and (max-width: 1200px) {
    .navbar_logo {
        margin-right: 50px;
    }
    .navbar__flex-menu {
        margin-right: 50px;
    }
}
@media screen and (max-width: 1015px) {
    .navbar__flex {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .navbar__flex-button {
        margin-top: 30px;
    }
    .steps_inner {
        padding: 100px 50px 50px 50px;
    }
    .steps_h2 {
        margin-right: 50px;
    }
    .steps__flex_content-items:nth-child(2) {
        margin-left: 100px;
    }
    .steps__flex_content-items:nth-child(3) {
        margin-left: 200px;
    }
    .video__flex {
        align-items: flex-start;
        padding-left: 80px;
    }
    .video-size {
        width: 500px;
        height: 288px;
    }
    .video-icon {
        width: 60px;
        height: 60px;
        top: 108px;
        right: 216px;
    }
}
@media screen and (max-width: 731px) {
    .navbar_logo {
        margin-bottom: 30px;
    }
    .header {
        background-position: left;
        padding-right: 30px;
    }
    .steps__flex_text {
        flex-direction: column;
    }
    .steps_h2 {
        width: 100%;
    }
    .steps_p {
        max-width: 584px;
        width: 100%;
    }
    .steps__flex_content {
        align-items: center;
    }
    .steps__flex_content-items:nth-child(1) {
        margin-left: 0px;
    }
    .steps__flex_content-items:nth-child(2) {
        margin-left: 0px;
    }
    .steps__flex_content-items:nth-child(3) {
        margin-left: 0px;
        margin-right: 95px;
    }
    .steps__flex_content-items:nth-child(3) .steps_number {
        padding-left: 0;
    }
    .steps__flex_content-items:nth-child(3) .steps_img {
        margin-left: 0;
    }
    .video__flex {
        padding-left: 50px;
        padding-right: 30px;
    }
    .product__flex_card {
        width: 350px;
        height: 314px;
        margin-right: 0px;
        background-position-x: 70%;
        background-position-y: 30%;
    }
    .product-photo-into {
        width: 150px;
        height: 149px;
        padding: 5px 0 5px 0;
        top: 211px;
        right: 250px;
    }
    .product_h5 {
        font-size: 7px;
        margin: 0 0 2px 0;
    }
    .product-line {
        width: 60px;
        height: 0.4px;
        margin-bottom: 5px;
    }
    .product-photo-sm {
        border: #FFF solid 0.5px;
        margin-bottom: 5px;
    }
    .product_manager_name {
        font-size: 6px;
        line-height: 100%;
        margin: 0 0 5px 0;
    }
    .product_h6 {
        font-size: 7px;
        line-height: 100%;
        padding-left: 30px;
        margin: 0 0 5px 0;
    }
    .product_contents {
        padding-left: 30px;
        font-size: 5px;
        line-height: 100%;
    }
    .product_contents li {
        margin-bottom: 3px;
    }
    .product__flex_text {
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media screen and (max-width: 585px) {
    .navbar__flex {
        justify-content: flex-start;
    }
    .navbar_logo {
        margin-right: 70px;
    }
    .navbar__flex-menu {
        flex-direction: column;
        gap: 20px;
    }
    .steps__flex_content-items:nth-child(1) {
        margin-right: 0;
    }
    .steps__flex_content-items:nth-child(2) {
        margin-right: 0;
    }
    .steps__flex_content-items:nth-child(3) {
        margin-right: 0;
    }
    .video_h2 {
        font-size: 30px;
    }
    .video_p {
        font-size: 20px;
    }
    .video-size {
        width: 300px;
        height: 173px;
    }
    .video-icon {
        width: 30px;
        height: 30px;
        top: 77px;
        right: 135px;
    }
}
@media screen and (max-width: 460px) {
    .btn_trial {
        padding: 13px 20px;
    }
    .header {
        min-height: 600px;
    }
    .header_h1 {
        font-size: 30px;
        padding-top: 100px;
    }
    .header_btn {
        padding: 13px 25px;
    }
    .steps_h2 {
        font-size: 30px;
    }
    .steps__flex_content {
        padding: 0 30px 0 30px;
    }
    .steps_img {
        max-width: 250px;
        max-height: 315px;
    }
    .img-position-abs {
        width: 115px;
        height: 90px;
        top: 146px;
        left: 136px;
    }
    .steps_h3 {
        white-space: normal;
        top: 135px;
        left: 60px;
    }
    .steps__flex_content-items:nth-child(2) .steps_h3 {
        top: 135px;
        left: 60px;
    }
    .steps__flex_content-items:nth-child(3) .steps_h3 {
        top: 135px;
        left: 60px;
    }
    .video {
        padding-bottom: 50px;
    }
    .video__flex {
        padding: 0 15px 0 15px;
    }
    .video_btn {
        padding: 13px 25px;
    }
    .video-size {
        width: 250px;
        height: 144px;
    }
    .video-icon {
        top: 58px;
        right: 108px;
    }
    .product {
        padding: 100px 0 100px 0;
    }
    .product__flex {
        padding: 0 20px 0 20px;
    }
    .product_text_h2 {
        font-size: 30px;
    }
    .product__flex_card {
        width: 230px;
        height: 206px;
        background-position-x: center;
        background-position-y: 30%;
    }
    .product-photo-into {
        top: 155px;
        right: 95px;
    }
    .product_btn {
        padding: 13px 25px;
    }
}